<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-info">
      <div class="panel-heading">Order View</div>
      <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <strong>User</strong>
            </div>
            <div class="col-sm-6">
              <span *ngIf="user">{{ user.full_name }} ({{ user.username }})</span>
              <span *ngIf="!user">Unknown</span>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <strong>Date</strong>
            </div>
            <div class="col-sm-6">
              {{ order.date | date:'medium' }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <strong>Status</strong>
            </div>
            <div class="col-sm-6">
              <span *ngIf="!activeUser.hasRole('manager')" class="capitalize">{{ order.status }}</span>
              <select *ngIf="activeUser.hasRole('manager')" class="form-control" [(ngModel)]="order.status" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let status of statuses" [ngValue]="status.key">{{status.name}}</option>
              </select>
            </div>
          </div>
      
          <div class="row">
            <div class="col-sm-12">
              <strong>Lines</strong>
            </div>
          </div>
        
          <div class="row row--order-line">
            <div class="col-sm-5">
              <em>Product</em>
            </div>
            <div class="col-sm-5">
              <em>Quantity</em>
            </div>
            <div class="col-sm-2">
              <em>Cost</em>
            </div>
          </div>
          <div class="row row--order-line" *ngFor="let line of lines">
            <div class="col-sm-5">
              {{ line.product? line.product.name : 'Unknown' }}
            </div>
            <div class="col-sm-5">
              {{ line.quantity }}
            </div>
            <div class="col-sm-2">
              $ {{ line.product? (line.product.price * line.quantity) : 0 }}
            </div>
          </div>

          <div class="row">
            <div class="col-sm-5 col-sm-offset-5 text-right">
              <strong>Total:</strong>
            </div>
            <div class="col-sm-2">
              $ {{ getTotalPrice(lines) }}
            </div>
          </div>
        </div>
        
        <div class="panel-footer">  
          <div class="row text-center">
            <div class="col-md-4">
              <a class="btn btn-default" [routerLink]="['/orders']">Return</a>
            </div>
            <div class="col-md-4">
              <button *ngIf="activeUser.hasRole('manager')" class="btn btn-primary" (click)="updateStatus(order, order.status)" [disabled]="saving">Update status</button>
            </div>
            <div class="col-md-4">
              <a class="btn btn-info" *ngIf="order.status == 'created' && order.userId == activeUser.getId()" [routerLink]="['/checkout/', order.id]">Checkout</a>
            </div>
          </div>
      </div> 
    </div>

  </div>
</div>