<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-info">
      <div class="panel-heading">Edit product</div>
      <div class="panel-body">
        <form novalidate role="form" #form="ngForm" (ngSubmit)="save(form, product)">
          <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" placeholder="Enter the product's name" 
              required minlength="2" maxlength="50"
              [(ngModel)]="product.name" #name="ngModel" />
            <span class="label label-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
              You must enter a name with between 2 and 50 characters
            </span>
          </div>
          <div class="form-group">
            <label>Description</label>
            <input type="text" name="description" class="form-control" placeholder="Enter the product's description" 
              [(ngModel)]="product.description" #description="ngModel" />
          </div>
          <div class="form-group">
            <label>Price</label>
            <input type="number" name="price" class="form-control" placeholder="Enter the unitary price" 
              [(ngModel)]="product.price" #price="ngModel" />
          </div>
          
          <div class="row">
            <div class="col-md-4 text-center">
              <a class="btn btn-default" [routerLink]="['/products']">Return</a>
            </div>
            <div class="col-md-4 text-center">
              <input type="button" class="btn btn-default" [disabled]="!product.id || loading || saving" (click)="delete(product)" value="Delete"/>
            </div>
            <div class="col-md-4 text-center">
              <input type="submit" class="btn btn-default" value="Save" [disabled]="form.invalid || loading || saving"/>
            </div>
          </div>
        </form>
      </div> 
    </div>

  </div>
</div>