<div class="row">
  <div class="col-sm-6">
    <h2>Orders List</h2>
  </div>
  <div class="col-sm-6 text-right">
    <br><a class="btn btn-primary btn-sm"*ngIf="activeUser.hasRole('user')" [routerLink]="['/order/']">Create order</a>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th *ngIf="activeUser.hasRole('admin') || activeUser.hasRole('manager')">User Id</th> <!-- TODO: should display the username -->
      <th>Date</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <!-- HACK: Normally the backend should only return the orders to which the user has read access -->
  <tbody *ngFor='let order of orders | async'>
    <tr *ngIf="activeUser.hasRole('admin') || activeUser.hasRole('manager') || order.userId == activeUser.getId()"> 
      <td>{{ order.id }}</td>
      <td *ngIf="activeUser.hasRole('admin') || activeUser.hasRole('manager')">{{ order.userId }}</td>
      <td>{{ order.date | date:'medium' }}</td>
      <td class="capitalize">{{ order.status }}</td>
      <td><a [routerLink]="['/order/', order.id]">View</a></td>
      <td><a *ngIf="order.status == 'created' && order.userId == activeUser.user.id" [routerLink]="['/checkout/', order.id]">Checkout</a></td>
      <td><a href (click)="delete(order)" *ngIf="activeUser.hasRole('admin')">Delete</a></td>
    </tr>
  </tbody>
</table>