<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-info">
      <div class="panel-heading">Create Order</div>
      <div class="panel-body">
        <form novalidate role="form" #form="ngForm" (ngSubmit)="save(form, order)">
          <div class="row">
            <div class="col-sm-6">
              <strong>Product</strong>
            </div>
            <div class="col-sm-2">
              <strong>Quantity</strong>
            </div>
          </div>
        
          <div class="row row--order-line" *ngFor="let line of order.lines">
            <div class="col-sm-6">
              <select class="form-control" required [(ngModel)]="line.productId" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let product of products" [ngValue]="product.id">{{product.name}} ($ {{ product.price}})</option>
              </select>
            </div>
            <div class="col-sm-5">
              <input type="number" required class="form-control" [(ngModel)]="line.quantity" [ngModelOptions]="{standalone: true}" />
            </div>
            <div class="col-sm-1 text-left">
              <a href (click)="removeLine(order, line)" class="link--line-remove">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </a>
            </div>
          </div>
          <div class="row row--order-line">
            <div class="col-sm-12 text-right">
              <a href class="btn btn-info btn-sm" (click)="addLine(order)">Add Line</a>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-6 text-center">
              <a class="btn btn-default" [routerLink]="['/orders']">Return</a>
            </div>
            <div class="col-md-6 text-center">
              <input type="submit" class="btn btn-default" value="Save" [disabled]="form.invalid || saving || order.lines.length == 0 || order.id"/>
            </div>
          </div>
        </form>
      </div> 
    </div>

  </div>
</div>