<div class="row">
  <div class="col-sm-6">
    <h2>Users List</h2>
  </div>
  <div class="col-sm-6 text-right">
    <br><a class="btn btn-primary btn-sm" [routerLink]="['/user/edit']">Create user</a>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Full Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let user of users | async'>
      <td>{{ user.username }}</td>
      <td>{{ user.full_name }}</td>
      <td><a [routerLink]="['/user/edit/', user.id]">Edit</a></td>
      <td><a href (click)="delete(user)">Delete</a></td>
    </tr>
  </tbody>
</table>
