<div class="row">
  <div class="col-sm-6">
    <h2>Products List</h2>
  </div>
  <div class="col-sm-6 text-right">
    <br><a class="btn btn-primary btn-sm" [routerLink]="['/product/']">Create product</a>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let product of products | async'>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }}</td>
      <td><a [routerLink]="['/product/', product.id]">Edit</a></td>
      <td><a href (click)="delete(product)" *ngIf="activeUser.hasRole('admin')">Delete</a></td>
    </tr>
  </tbody>
</table>