<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a [routerLink]="['/']" class="navbar-brand">eCommerce App</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" *ngIf="activeUser.isLogged()">
        <li><a href [routerLink]="['/orders']">Orders</a></li>
        <li><a href [routerLink]="['/user/list']" *ngIf="activeUser.hasRole('admin')">Users</a></li>
        <li><a href [routerLink]="['/products']" *ngIf="activeUser.hasRole('admin') || activeUser.hasRole('manager')">Products</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href [routerLink]="['/register']" *ngIf="!activeUser.isLogged()">Registration</a></li>
        <li><a href [routerLink]="['/login']" *ngIf="!activeUser.isLogged()">Login</a></li>
        <li><a href [routerLink]="['/profile']" *ngIf="activeUser.isLogged()">Profile</a></li>
        <li><a href (click)="logout()" *ngIf="activeUser.isLogged()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
