<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-info">
      <div class="panel-heading">Profile</div>
      <div class="panel-body">
        <form novalidate role="form" #form="ngForm" (ngSubmit)="save(form, user)">
          <div class="form-group">
            <label>Username</label>
            <span>{{ user.username }}</span>
          </div>
          <div class="form-group">
            <label>Full Name</label>
            <span>{{ user.full_name }}</span>
          </div>
          <div class="form-group">
            <label>Billing Address</label>
            <input type="text" name="billing_addresss" class="form-control" placeholder="Enter the billing address" [(ngModel)]="user.billing_addresss" #billing_addresss="ngModel" />
          </div>
          <div class="form-group">
            <label>Shipping Address</label>
            <input type="text" name="shipping_addresss" class="form-control" placeholder="Enter the shipping address" [(ngModel)]="user.shipping_addresss" #shipping_addresss="ngModel" />
          </div>

          <div class="row">
            <div class="col-md-6 text-center">
              <a class="btn btn-default" [routerLink]="['/orders']">My orders</a>
            </div>
            <div class="col-md-6 text-center">
              <input type="submit" class="btn btn-default" value="Save" [disabled]="form.invalid || loading || saving"/>
            </div>
          </div>
        </form>
      </div> 
    </div>

  </div>
</div>