<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-info">
      <div class="panel-heading">Edit user</div>
      <div class="panel-body">
        <form novalidate role="form" #form="ngForm" (ngSubmit)="save(form, user)">
          <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" class="form-control" placeholder="Enter the user's name" 
              required minlength="4" maxlength="16"
              [(ngModel)]="user.username" #username="ngModel" />
            <span class="label label-danger" *ngIf="username.invalid && (username.dirty || username.touched)">
              You must enter an username with between 4 and 16 characters
            </span>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control" placeholder="Enter the password" 
              required
              [(ngModel)]="user.password" #password="ngModel" />
            <span class="label label-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
              You must enter a password with at least 6 characters
            </span>
          </div>
          <div class="form-group">
            <label>Full Name</label>
            <input type="text" name="full_name" class="form-control" placeholder="Enter the full name" [(ngModel)]="user.full_name" #full_name="ngModel" />
          </div>
          <div class="form-group">
            <label>Billing Address</label>
            <input type="text" name="billing_addresss" class="form-control" placeholder="Enter the billing address" [(ngModel)]="user.billing_addresss" #billing_addresss="ngModel" />
          </div>
          <div class="form-group">
            <label>Shipping Address</label>
            <input type="text" name="shipping_addresss" class="form-control" placeholder="Enter the shipping address" [(ngModel)]="user.shipping_addresss" #shipping_addresss="ngModel" />
          </div>
          <div>
            <label>Roles</label>
            <div class="checkbox" *ngFor='let role of roleList'>
              <label>
                <input type="checkbox" [checked]="user.roles.indexOf(role.key) >= 0" (click)="toggleRole(user, role)"/>
                {{ role.name }}
              </label>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 text-center">
              <a class="btn btn-default" [routerLink]="['/user/list']">Return</a>
            </div>
            <div class="col-md-4 text-center">
              <input type="button" class="btn btn-default" [disabled]="!user.id || loading || saving" (click)="delete(user)" value="Delete"/>
            </div>
            <div class="col-md-4 text-center">
              <input type="submit" class="btn btn-default" value="Save" [disabled]="form.invalid || loading || saving"/>
            </div>
          </div>
        </form>
      </div> 
    </div>

  </div>
</div>