<form novalidate role="form" #form="ngForm" (ngSubmit)="login(form, account)">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Enter your username and password
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" required class="form-control" placeholder="Username" [(ngModel)]="account.username" #username="ngModel" />
            <span class="label label-warning" *ngIf="username.invalid && (username.dirty || username.touched)">You must enter the username</span>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" required class="form-control" placeholder="Password" [(ngModel)]="account.password" #password="ngModel" />
            <span class="label label-warning" *ngIf="password.invalid && (password.dirty || password.touched)">You must enter the password</span>
          </div>
          <div *ngIf="error">
            <span class="label label-danger">{{ error }}</span>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6 text-left">
              <a class="btn btn-default" [routerLink]="['/register']">Register</a>
            </div>
            <div class="col-md-6 text-right">
              <input type="submit" class="btn btn-primary" value="Sign In" [disabled]="form.invalid || loading"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
