<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default panel-info">
      <div class="panel-heading">Registration</div>
      <div class="panel-body">
        <form novalidate role="form" #form="ngForm" (ngSubmit)="save(form, user)">
          <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" class="form-control" placeholder="Enter the user's name" 
              required minlength="4" maxlength="16"
              [(ngModel)]="user.username" #username="ngModel" />
            <span class="label label-danger" *ngIf="username.invalid && (username.dirty || username.touched)">
              You must enter an username with between 4 and 16 characters
            </span>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control" placeholder="Enter the password"
              required minlength="4"
              [(ngModel)]="user.password" #password="ngModel" />
            <span class="label label-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
              You must enter a password with at least 6 characters
            </span>
          </div>
          <div class="form-group">
            <label>Password Confirm</label>
            <input type="password" name="password_bis" class="form-control" placeholder="Confirm the password"
              required validateEqual="password"
              [(ngModel)]="passwordConfirm" #password_bis="ngModel" />
            <span class="label label-danger" *ngIf="password_bis.invalid && (password_bis.dirty || password_bis.touched)">The passwords do not match</span>
          </div>
          <div class="form-group">
            <label>Full Name</label>
            <input type="text" name="full_name" class="form-control" placeholder="Enter the full name" [(ngModel)]="user.full_name" #full_name="ngModel" />
          </div>
          <div class="form-group">
            <label>Billing Address</label>
            <input type="text" name="billing_addresss" class="form-control" placeholder="Enter the billing address" [(ngModel)]="user.billing_addresss" #billing_addresss="ngModel" />
          </div>
          <div class="form-group">
            <label>Shipping Address</label>
            <input type="text" name="shipping_addresss" class="form-control" placeholder="Enter the shipping address" [(ngModel)]="user.shipping_addresss" #shipping_addresss="ngModel" />
          </div>
          
          <div>
            <recaptcha (resolved)="captchaResolved($event)" siteKey="6LdILjAUAAAAAK3H14_IgfwttsQHZldAtNuogRbJ"></recaptcha>
          </div>
      
          <div class="text-right">
            <input type="submit" class="btn btn-primary" value="Register" [disabled]="form.invalid || saving || !captcha"/>
          </div>
        </form>
      </div> 
    </div>

  </div>
</div>