/* You can add global styles to this file, and also import other style files */

.row--order-line {
  margin-top: 6px;
}

.link--line-remove {
  position: relative;
  top: 8px;
}

.capitalize {
    text-transform: capitalize;
}