<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-info">
      <div class="panel-heading">Order Checkout</div>
      <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <strong>User</strong>
            </div>
            <div class="col-sm-6">
              <span *ngIf="user">{{ user.full_name }} ({{ user.username }})</span>
              <span *ngIf="!user">Unknown</span>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <strong>Date</strong>
            </div>
            <div class="col-sm-6">
              {{ order.date | date:'medium' }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <strong>Status</strong>
            </div>
            <div class="col-sm-6">
              <span class="capitalize">{{ order.status }}</span>
            </div>
          </div>
      
          <div class="row">
            <div class="col-sm-12">
              <strong>Lines</strong>
            </div>
          </div>
        
          <div class="row row--order-line">
            <div class="col-sm-5">
              <em>Product</em>
            </div>
            <div class="col-sm-5">
              <em>Quantity</em>
            </div>
            <div class="col-sm-2">
              <em>Cost</em>
            </div>
          </div>
          <div class="row row--order-line" *ngFor="let line of lines">
            <div class="col-sm-5">
              {{ line.product? line.product.name : 'Unknown' }}
            </div>
            <div class="col-sm-5">
              {{ line.quantity }}
            </div>
            <div class="col-sm-2">
              $ {{ line.product? (line.product.price * line.quantity) : 0 }}
            </div>
          </div>

          <div class="row">
            <div class="col-sm-5 col-sm-offset-5 text-right">
              <strong>Total:</strong>
            </div>
            <div class="col-sm-2">
              $ {{ getTotalPrice(lines) }}
            </div>
          </div>
        </div>
        
        <div class="panel-footer">  
          <div class="row text-center">
            <div class="col-md-6">
              <a class="btn btn-default" [routerLink]="['/orders']">Return</a>
            </div>
            <div class="col-md-6">
              <button class="btn btn-info" 
                [disabled]="order.status != 'created' || order.userId != activeUser.getId()" 
                (click)="payNow(order)">
                Pay now
              </button>
            </div>
          </div>
      </div> 
    </div>

  </div>
</div>